.submit-btn {
  max-width: 100%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #2f71e5;
  padding: 20px 56px;
  border: 0px solid #d1d2d6;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  transition: all 0.3s linear;
}

.submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.submit-btn_disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
}
