.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 32px 7.222222222222221% 26px;
  align-items: center;
}

.footer__copyright {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #b6bcbf;
  margin: 0;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__links-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.footer__links-item {
  padding: 0;
  margin: 0;
}

.footer__link {
  text-decoration: none;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
}

.footer__social {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.footer__social-item {
  max-height: 24px;
}

@media screen and (max-width: 890px) {
  .footer {
    margin: 20px 40px;
  }
}

@media screen and (max-width: 690px) {
  .footer {
    margin: 20px 16px;
    flex-direction: column-reverse;
    gap: 38px;
  }

  .footer__nav {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__links-list {
    flex-direction: column;
    gap: 20px;
  }
}
