.card {
  width: 400px;
  height: 576px;
  border-radius: 16px;
  background-color: #fff;
  transition: box-shadow 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 20px 30px 10px rgba(14, 26, 57, 0.2);
}

.card__image {
  max-width: 100%;
  height: 272px;
  background-color: none;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px 16px 0 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 24px 24px 0;
  box-sizing: border-box;
}

.card__keyword {
  max-width: 125px;
  height: 40px;
  background-color: #fff;
  padding: 8px 22px 8px 22px;
  border-radius: 10px;
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  box-sizing: border-box;
  margin-right: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__button-container {
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
}

.card__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.card__button_type_delete {
  background-image: url('../../images/delete_icon_normal.svg');
}

.card__button_type_delete:hover {
  background-image: url('../../images/delete_icon_hover.svg');
}

.card__button_type_bookmark {
  background-image: url('../../images/bookmark_icon_normal.svg');
}

.card__button_type_bookmark:hover {
  background-image: url('../../images/bookmark_icon_hover.svg');
}

.card__button_type_bookmark_marked {
  background-image: url('../../images/bookmark_icon_marked.svg');
}

.card__tooltip {
  opacity: 0;
  height: 40px;
  background-color: #fff;
  padding: 11px 26px 11px 26px;
  border-radius: 10px;
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.71;
  box-sizing: border-box;
  margin-right: 5px;
  transition: all 0.3s linear;
}

.card__button:hover + .card__tooltip {
  opacity: 1;
}

.card__tooltip_inactive {
  opacity: 0;
}

.card__text-container {
  padding: 20px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__date {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  color: #b6bcbf;
  margin: 0;
}

.card__title {
  min-height: 60px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  padding: 0;
  margin: 12px 0 0 0;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card__text {
  max-width: 352px;
  height: 110px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #1a1b22;
  padding: 0;
  margin: 16px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__source {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  padding: 0px 24px 24px 24px;
  margin: 12px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-self: baseline;
}

@media screen and (max-width: 890px) {
  .card {
    width: 224px;
    height: 420px;
  }

  .card__image {
    height: 150px;
    padding: 8px 8px 0;
  }

  .card__tooltip {
    display: none;
  }

  .card__text-container {
    padding: 16px 16px 0;
  }
  .card__title {
    font-size: 22px;
    line-height: 1.09;
  }

  .card__text {
    height: 88px;
    margin: 10px 0 0 0;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }

  .card__source {
    padding: 0 16px 16px;
  }
}

@media screen and (max-width: 535px) {
  .card {
    width: 288px;
    height: 440px;
  }

  .card__image {
    height: 196px;
  }

  .card__title {
    max-height: 50px;
    min-height: fit-content;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .card__text {
    margin: 14px 0 0 0;
  }
}
